{% extends 'pages/base.html' %}


{% block title %}Países{% endblock %}

{% block modal %}
{{block.super}}
<div id="modalViewPais" class="modal fade" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalViewPaisLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalViewPaisLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">                
                <div class="row mb-2 mt-2">
                    <div class="col-sm-1"> 
                        <label for="id" style="display: inline-block">ID:</label>
                        <input id="id" type="number" class="form-control" value="" name="id" disabled>
                    </div>
                    <div class="col-sm-2">
                        <label for="situacao">Situação:</label>
                        <input id="situacao" type="text" class="form-control" value="" name="situacao" disabled>
                    </div>
                </div>
                <div class="row mb-2 mt-2">
                    <div class="col-sm-5">
                        <label for="pais" style="display: inline-block">País:</label>
                        <input id="nm-pais" type="text" class="form-control" value="" name="pais" disabled>
                    </div>
                    <div class="col-sm-1">
                        <label for="sigla">Sigla:</label>
                        <input id="sigla" type="text" class="form-control" value="" name="sigla" disabled>
                    </div>
                    <div class="col-sm-1">
                        <label for="ddi">DDI:</label>
                        <input id="ddi" type="text" class="form-control" value="" name="ddi" disabled>
                    </div>
                </div>                
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="dt-cad">Data de Cadastro:</label>
                        <input id="dt-cad" type="datetime" class="form-control" value="" name="dt-cad" disabled>
                    </div>
                    <div class="col-sm-6">
                        <label for="dt-alt">Data de Última Alteração:</label>
                        <input id="dt-alt" type="datetime" class="form-control" value="" name="dt-alt" disabled>
                    </div>                    
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalEditPais" class="modal fade" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalEditPaisLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditPaisLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">    
                <form method="POST">
                    {% csrf_token %}     
                    <div class="row mb-2 mt-2">
                        <div class="col-sm-1"> 
                            <label for="id" style="display: inline-block">ID:</label>
                            <input id="id" type="number" class="form-control" value="" name="id" disabled>
                        </div>
                        <div class="col-sm-2">
                            <label for="situacao">Situação:</label>
                            <select id="situacao" name="situacao" class="form-select" aria-label="situacao" required>
                                <option id="ativo" value="A">ATIVO</option>
                                <option id="inativo" value="I">INATIVO</option>                
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2 mt-2">
                        <div class="col-sm-5">
                            <label for="pais" style="display: inline-block">País:</label>
                            <input id="nm-pais" type="text" class="form-control" value="" name="pais">
                        </div>
                        <div class="col-sm-1">
                            <label for="sigla">Sigla:</label>
                            <input id="sigla" type="text" class="form-control" value="" name="sigla">
                        </div>
                        <div class="col-sm-1">
                            <label for="ddi">DDI:</label>
                            <input id="ddi" type="text" class="form-control" value="" name="ddi">
                        </div>
                    </div>                                                   
                </form>       
            </div>  
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="dt-cad">Data de Cadastro:</label>
                        <input id="dt-cad" type="datetime" class="form-control" value="" name="dt-cad" disabled>
                    </div>
                    <div class="col-sm-6">
                        <label for="dt-alt">Data de Última Alteração:</label>
                        <input id="dt-alt" type="datetime" class="form-control" value="" name="dt-alt" disabled>
                    </div>                    
                </div>
                <button type="submit" class="btn btn-primary" >Salvar</button>|
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalDeletePais" class="modal fade" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalDeletePaisLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalDeletePaisLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">                
                <div class="row mb-2 mt-2">
                    <div class="col-sm-1"> 
                        <label for="id" style="display: inline-block">ID:</label>
                        <input id="id" type="number" class="form-control" value="" name="id" disabled>
                    </div>
                    <div class="col-sm-2">
                        <label for="situacao">Situação:</label>
                        <input id="situacao" type="text" class="form-control" value="" name="situacao" disabled>
                    </div>
                </div>
                <div class="row mb-2 mt-2">
                    <div class="col-sm-5">
                        <label for="pais" style="display: inline-block">País:</label>
                        <input id="nm-pais" type="text" class="form-control" value="" name="pais" disabled>
                    </div>
                    <div class="col-sm-1">
                        <label for="sigla">Sigla:</label>
                        <input id="sigla" type="text" class="form-control" value="" name="sigla" disabled>
                    </div>
                    <div class="col-sm-1">
                        <label for="ddi">DDI:</label>
                        <input id="ddi" type="text" class="form-control" value="" name="ddi" disabled>
                    </div>
                </div>                
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="dt-cad">Data de Cadastro:</label>
                        <input id="dt-cad" type="datetime" class="form-control" value="" name="dt-cad" disabled>
                    </div>
                    <div class="col-sm-6">
                        <label for="dt-alt">Data de Última Alteração:</label>
                        <input id="dt-alt" type="datetime" class="form-control" value="" name="dt-alt" disabled>
                    </div>                    
                </div>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Deletar</button>|
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-2">
    <h1 class="title-list"><i class="fa-solid fa-earth-americas"></i> PAÍSES</h1>
    <a href="{% url 'pais:cadastrar-pais' %}"><button class="btn btn-primary">Adicionar</button></a>
    <hr>
    <div style="font-size: 20px">
        <table id="tablepais" class="table table-striped display fs-6" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">PAÍS</th>
                    <th scope="col">SIGLA</th>
                    <th scope="col">DDI</th>
                    <th scope="col">CADASTRO</th>
                    <th scope="col">ÚLTIMA ALTERAÇÃO</th>
                    <th scope="col">SITUAÇÃO</th>
                    <th scope="col-sm">OPÇÕES</th>
                </tr>
            </thead>
            <tbody class="fs-5 table-light">
                {% for pais in object_list %}
                <tr>
                    <td>{{pais.0}}</td>
                    <td>{{pais.1}}</td>
                    <td>{{pais.2}}</td>
                    <td>{{pais.3}}</td>
                    <td>{{pais.4|date:'d/m/Y H:i:s'}}</td>
                    <td>{{pais.5|date:'d/m/Y H:i:s'}}</td>
                    {% if pais.6 == 'A' %}
                        <td>ATIVO</td>
                    {% else %}
                        <td>INATIVO</td>
                    {% endif %}
                    <td>
                        <button type="button" class="btn btn-sm btn-info"
                            data-url="{% url 'pais:consulta-pais' pk=pais.0 %}" data-bs-toggle="modal"
                            data-bs-target="#modalViewPais"><i class="fa-solid fa-eye"></i></button>
                        |
                        <button type="button" class="btn btn-sm btn-secondary" 
                            data-url="{% url 'pais:editar-pais' pk=pais.0 %}" data-bs-toggle="modal"
                            data-bs-target="#modalEditPais"><i class="fa-solid fa-pen"></i></button>
                        |
                        <button type="button" class="btn btn-sm btn-danger" 
                            data-url="{% url 'pais:excluir-pais' pk=pais.0 %}" data-bs-toggle="modal"
                            data-bs-target="#modalDeletePais"><i class="fa-solid fa-trash"></i></button>                        
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}