* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

mt-2{
    margin: 2 0 0 0;
}

mt-5 {
    margin: 5 0 0 0;
}

mb-2 {
    margin: 0 0 0 2;
}

w-100 {
    width: 100px;
}

w-150 {
    width: 150px;
}