{% include 'pages/head.html' %}

<body>

    {% include 'pages/menu.html' %}

    <div class="main-content container consulta">           
        <h1 class="title-list">ESTADOS</h1>      
        <a href="{% url 'cadastrar-estado' %}"><button class="btn btn-primary">Adicionar</button></a>  
        <hr>        

        <table class="table table-striped">
            <thead class="table-dark fs-5">
                <tr>                
                    <th scope="col">ID</th>                    
                    <th scope="col">ESTADO</th>
                    <th scope="col">UF</th>
                    <th scope="col">PAÍS</th>
                    <th scope="col">CADASTRO</th>
                    <th scope="col">ÚLTIMA ALTERAÇÃO</th>
                    <th scope="col-sm">OPÇÕES</th>
                </tr>
            </thead>
            <tbody class="fs-5 table-light">
                {% for estado in estado_list.all %}
                <tr>
                    <th scope="row">{{estado.id}}</th>
                    <td>{{estado.nm_estado}}</td>
                    <td>{{estado.uf}}</td>
                    <td>{{estado.pais}}</td>
                    <td>{{estado.dt_cadastro}}</td>
                    <td>{{estado.dt_ult_alt}}</td>
                    <td>
                        <a class="btn btn-sm btn-info" href="{% url 'consulta-estado' %}"><i class="fa-solid fa-eye"></i></a>
                        |
                        <a class="btn btn-sm btn-secondary" href="{% url 'consulta-estado' %}"><i class="fa-solid fa-pen"></i></a>
                        |
                        <a class="btn btn-sm btn-danger" href="{% url 'consulta-estado' %}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                    
                </tr>
            {% empty %}
            <tr>
                <td >Nenhum registro encontrado.</td>
            </tr>
            {% endfor %}                                        
    </tbody>
</table>   
        


    </div>
    

</body>

{% include 'pages/footer.html' %}

</html>